body { padding-top: 70px; }
@media screen and (max-width: 768px) {
    body { padding-top: 70px; }
}

.row-margin{
    margin-top: 30px;
    margin-bottom: 30px
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}